<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TestDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>186AC1AC1D8155C4008ABD5F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>186AC1CB1D8155C5008ABD5F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>186AC1D61D8155C5008ABD5F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
